body {
    background-color: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
}

h1 {
    color: #03bf0a;
    font-weight: 400;
    text-shadow: 0 0 5px rgb(42, 216, 48);
}

label {
    color: #009900;
}

select {
    background-color: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
}

input[type='radio'] {
    accent-color:  #03ff0a;
    filter: brightness(0.5);
}

#main {
    text-align: center;
    vertical-align: top;
}

#input {
    background-color: #050510;
    color: #0C0;
    font-family: "Source Code Pro", monospace;
    font-size: 20;
    resize: none;
}

#solver {
    text-align: center;
    display: inline-block;
}

#output {
    margin-top: 10px;
}

.output_box {
    display: inline-block;
    border: #888 solid 2px;
    padding: 2px;
    background-color: #050510;
    min-width: 100px;
    min-height: 20px;
    text-align: left;
    vertical-align: middle;
    color: #0C0;
}

#problem_selector {
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    border: #888 solid 2px;
    min-width: 200;
    padding: 10px;
}

.glowOnHover:hover {
    color: #99ff99;
    text-shadow: 0 0 5px rgb(42, 216, 48);
}
